<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level %marker %logger %msg%n</pattern>
        </encoder>
        <!--<encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->

    </appender>
    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
