name: Release
on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
      - name: Install jekyll
        run: gem install jekyll -v 4.0.0
      - name: Publish microsite
        env:
          DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
          GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
        run: |
          eval "$(ssh-agent -s)"
          ssh-add - <<< "${DEPLOY_KEY}"
          git config --global user.email "slog4s-bot@github.com"
          git config --global user.name "Release bot"
          sbt site/publishMicrosite
